.loginForm div + div { margin-top: 10px }

.loginForm {
  width: 400px;
  margin: 0 auto;
  position: relative
}

.loginForm input, .loginForm button { width: 80%; padding: 5px }

.loginForm input { padding: 5px 10px; border: 1px solid darkgrey; }

.loginForm button {
  font-weight: 900;
  background-color: #1e88e5;
  color: white
}

.loginForm input:focus::placeholder { color: transparent }

.errorBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%
}

.error { color: crimson; font-weight: 600 }