.LoginForm div + div { margin-top: 10px }

.LoginForm {
  width: 400px;
  margin: 0 auto;
  position: relative
}

.LoginForm input, .LoginForm button { width: 80%; padding: 5px }

.LoginForm input { padding: 5px 10px; border: 1px solid darkgrey; }

.LoginForm button {
  font-weight: 900;
  background-color: #1e88e5;
  color: white
}

.LoginForm input:focus::placeholder { color: transparent }

.ErrorBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%
}

.Error { color: crimson; font-weight: 600 }