.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1,1,1, 0.5);
}

.PopUpForm {
  width: 300px;
  padding: 30px 10px;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.PopUpForm div + div { margin-top: 10px }

.PopUpForm img {
  width: 24px;
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer
}

.PopUpForm input, .PopUpForm button { width: 100%; padding: 5px }

.PopUpForm input { border: 1px solid darkgrey }

.PopUpForm input:focus::placeholder { color: transparent }

.PopUpForm button { background-color: #1e88e5; color: white; font-weight: 600 }