.contactList {
  text-align: left;
  display: inline-block;
  border: 1px solid #1e88e5;
  border-radius: 10px;
  overflow: hidden;
  position: relative
}

.addNew button {
  background-color: #1e88e5;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  transition: .2s
}

.addNew button:hover {
  background-color: rgba(30, 136, 229, 0.8);
}

.item {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1e88e5;
  padding: 10px;
  transition: .2s;
  overflow: hidden
}

.item:hover { background-color: #c2e2fb; overflow: hidden }

.item:last-of-type { border: unset }

.left, .right {
  display: flex;
  align-items: center
}

.item .avatar { width: 32px }

.right img { width: 22px; transition: .3s }

.right img:hover { transform: scale(1.2) }

.item span { margin-left: 5px }

.item button {
  border: unset;
  outline: unset;
  background-color: unset
}

.smallLoader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}